/* 
    Author     : MP
*/

#QuestionContainer .label {
    
    -fx-background-color: white;
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-family: 'arial';
}

#ChoicesContainer {
    
    -fx-background-color: white;
}

#AnswerLabel {
    
    -fx-background-color: orange;
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-font-family: -fx-main-font-family;
    
    -fx-border-color: black;
    -fx-border-stroke: 1;
}